
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="jumbotron">
    <h3>CV</h3>

<p>Genomgår vid tillfället Östra Gymnasiets T4 Utbildning med inriktningen Backend-Programmering, Examineras 2017.
<br />
Utbildningar:<br />
Examen 2016 från Östra Gymnasiets Tekniska Program med inriktning Informations- och medieteknik.
<br />
Tidigare Arbeten:<br />
Friidrottsledare på Hammarby friidrottskola somrarna 2013-2015<br />
Deltidsanställd som Säljare/Insamlare hos Dote AB November 2015 - Maj 2016<br />
Nuvarande deltidsanställd som Marknadsundersökare hos Evry AB sedan Maj 2016<br />
Referenser kan ges vid efterfrågan
<br />
Meriterande:<br />
Har B körkort sedan 13 Januari 2016.<br />
Talar flytande engelska efter att ha studerat hos Internationella Engelska Skolan i Enskede.
Är även kunnig inom Datorer, teknik samt träning och hälsa.
</p>
</div>

