
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<div class="jumbotron">
    <ul>
        <li>Alex Bierhance Söderberg</li>
        <li>Email: alex.soderberg97@gmail.com</li>
        <li>Tel: 0702282599</li>
    </ul>
</div>
